# -------------------------
# Dataset
# -------------------------
data/raw/
data/cache/
*.parquet

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# -------------------------
# Virtual environments
# -------------------------
venv/
.venv/
env/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# macOS
# -------------------------
.DS_Store

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Archives
# -------------------------
*.zip

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Node (if used)
# -------------------------
node_modules/
